:root {
    --background: rgba(30, 30, 30, 1);
    --background-g: linear-gradient(180deg,
            rgba(30, 30, 30, 0) 0%,
            rgba(30, 30, 30, 0.7) 30%,
            rgba(30, 30, 30, 1) 40%,
            rgba(30, 30, 30, 1) 100%);
}

body {
    background-color: var(--background);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;

    justify-content: space-between;
}

.main-content {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header-dropdown {
    font-size: 24px;
    cursor: pointer;
}

.welcome-cards {
    display: flex;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.welcome-cards.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* Optional: prevent interaction when hidden */
}

.card {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #444444;
}

.chat-box {
    width: 100%;
    background-color: #333333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.message {
    margin: 10px 0;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #444444;
    border-radius: 5px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555555;
}

th {
    background-color: #333333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #555555;
}

tr:hover {
    background-color: #666666;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.message.typing {
    font-style: italic;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siri-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.siri-loader div {
    width: 8px;
    height: 100%;
    background: #00a884;
    margin: 0 2px;
    border-radius: 4px;
    animation: wave 1s infinite ease-in-out;
}

.siri-loader div:nth-child(1) {
    animation-delay: -0.4s;
}

.siri-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.siri-loader div:nth-child(3) {
    animation-delay: -0.2s;
}

.siri-loader div:nth-child(4) {
    animation-delay: -0.1s;
}

.siri-loader div:nth-child(5) {
    animation-delay: 0s;
}

.o {
    border: 1px solid #00a884;
}

@keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

#message-container {
    flex: 1;
    width: 100%;
    display: block;
    height: 100%;
    padding-bottom: 120px;
}

.result-message {
    display: flex;
    justify-content: start;
    padding-bottom: 5px;
}

.result-message>div.icon {
    background-color: #e63737;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 10px;
}

.result-message>div.result {
    margin-top: 4px;
    flex: 1;
    margin-right: 200px;
    min-height: 70vh;
}

.user-message {
    display: flex;
    justify-content: end;
    padding-bottom: 5px;
    padding-top: 24px;
}

.user-message>div {
    background-color: #1e4f8a;
    padding: 16px;
    max-width: 400px;
    /* bottom right corner */
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
}

#input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-g);
}

#input-bar>div {
    display: flex;
    height: 56px;
    margin: 40px auto 16px auto;
    width: 800px;
}

#input-bar input {
    flex: 1;
    padding: 10px 26px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    background-color: #333333;
    border-radius: 60px;
    color: #ffffff;
    transition: all 0.15s;
}

#input-bar input::placeholder {
    color: #888888;
}

#input-bar input:focus {
    background-color: #444444;
}

#input-bar button {
    background-color: #00a884;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 56px;
    height: 56px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#input-bar button:disabled {
    background-color: #888888;
}

#input-bar button:hover {
    background-color: #007a66;
}