@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --background: rgba(30, 30, 30, 1);
    --background-g: linear-gradient(180deg,
            rgba(30, 30, 30, 0) 0%,
            rgba(30, 30, 30, 0.7) 30%,
            rgba(30, 30, 30, 1) 40%,
            rgba(30, 30, 30, 1) 100%);
}

body {
    background-color: var(--background);
    color: #ffffff;
    /* font-family: Arial, sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    padding: 0;
}

.main {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;

    justify-content: space-between;
}

.main-content {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 70px !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    color: #ffffff;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 30px #302d37;
}

.header>div {
    display: flex;
    padding: 16px 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header-dropdown {
    font-size: 16px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0%, 20%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes zoomInJump {
    from {
        opacity: 0;
        transform: scale(0.2) translate(0%, 350%);
    }

    to {
        opacity: 1;
        transform: scale(1) translate(0%, 0%);
    }
}

.welcome-cards {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 1000px;
    transition: visibility 0.1s ease-in, opacity 0.1s ease-in,
        transform 0.1s ease-in;
    /* opacity: 0; */
    visibility: visible;
}

.welcome-cards.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -60%);
    pointer-events: none;
    /* Optional: prevent interaction when hidden */
}

.card {
    background-color: #333333;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 10px;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: fadeIn 0.5s;
}

.card:hover {
    background-color: #444444;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #444444;
    border-radius: 5px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555555;
}

th {
    background-color: #333333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #555555;
}

tr:hover {
    background-color: #666666;
}

#message-container {
    flex: 1;
    width: 100%;
    display: block;
    height: 100%;
    padding-bottom: 120px;
}

.result-message {
    display: flex;
    margin-top: 5px;
    justify-content: start;
    padding-bottom: 5px;
    min-height: 70vh;
    transition: min-height 1.2s ease-out;
    animation: fadeIn 0.5s;
}

.result-message>div.icon {
    /* background-color: #fff; */
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 18px;
    /* box-shadow: 0 0 30px rgb(7, 46, 153); */
    background-image: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    animation: zoomInJump 0.5s;
}

.ai-icon {
    background-image: url("/static/l3.gif") !important;
    background-size: cover;
    background-position: center;
    /* background-size: 290%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    box-shadow: 0 0 30px #21299a !important;
    transition: all 0.3s ease-out;
    z-index: 5;
    /* animation: zoomIn 0.5s; */
}

.ai-icon.hidden {
    /* background-image: none !important; */
    /* background-color: #ffffff; */
    transform: scale(0.23) translate(80%, 80%);
    /* animation: zoomIn 0.5s; */
}

.ai-icon.hidden::after {
    opacity: 1;
}

.ai-icon.hidden::before {
    opacity: 1;
    transform: scale(2.3) translate(-45%, -45%);
}

.ai-icon::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-radius: 30px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ai-icon::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #d63a3a;
    border-radius: 30px;
    /* ease elastic out */
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s;
}

.result-message>div.result {
    margin-top: 9px;
    flex: 1;
    margin-right: 200px;
    position: relative;
}

.user-message {
    display: flex;
    justify-content: end;
    padding-bottom: 5px;
    padding-top: 24px;
}

.user-message>div {
    background-color: #535d69;
    padding: 16px;
    max-width: 400px;
    /* bottom right corner */
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
    animation: fadeIn 0.5s;
}

#input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-g);
}

#input-bar>div {
    display: flex;
    height: 56px;
    margin: 40px auto 16px auto;
    width: 800px;
}

#input-bar input {
    flex: 1;
    padding: 10px 26px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    background-color: #333333;
    border-radius: 60px;
    color: #ffffff;
    transition: all 0.15s;
}

#input-bar input::placeholder {
    color: #888888;
}

#input-bar input:focus {
    background-color: #444444;
}

#input-bar button {
    background-color: #341f7d;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 56px;
    height: 56px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#input-bar button:disabled {
    background-color: #888888;
}

#input-bar button:hover {
    background-color: #4c33a7;
    box-shadow: 0 0 30px #332161 !important;
}

/* disable hover when disabled */
#input-bar button:disabled:hover {
    background-color: #888888;
    box-shadow: none !important;
}

.shimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: all 0.3s ease-in;
}

.shimmer.hidden {
    display: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(0%, -3%);
}

.shimmer div {
    background: linear-gradient(to right,
            rgba(160, 181, 206, 0.1) 10%,
            rgba(42, 107, 128, 0.5) 40%,
            rgba(49, 107, 178, 0.5) 50%,
            rgba(85, 98, 191, 0.3) 60%,
            rgba(160, 181, 206, 0.1) 90%);
    border: 1px solid #b8d7ee07;
    background-size: 200% auto;
    height: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    /* animation: shimmer 1.5s linear infinite; */
    /* revese it */
    animation: shimmer 1.5s linear infinite reverse;
    /* fade in */
    animation: shimmer 1.5s linear infinite reverse, fadeIn 0.5s;
}

@keyframes shimmer {
    to {
        background-position: 200% center;
    }
}

.error-message {
    background-color: #d63a3a0d;
    padding: 10px 20px 10px 50px;
    border-radius: 8px;
    display: inline-block;
    color: #f2dcdc;
    border: 1px solid #d63a3a37;
    animation: fadeIn 0.5s ease-out;
}

.error-message::before {
    content: "⚠️";
    position: absolute;
    left: 17px;
    top: 9px;
}