<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI ChatBOT</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>


    <div class="header container">
        <h1>AI ChatBOT</h1>
        <div class="header-dropdown">
            <span>▼</span>
        </div>
    </div>

    <div class="main-content container">

        <!-- cards -->
        <div class="welcome-cards">
            <div class="card">This is a smaple question</div>
            <div class="card">Suggestion here</div>
            <div class="card">UI can be changed</div>
            <div class="card">Any random text</div>
        </div>


        <!-- message-container -->
        <div id="message-container" class="">
        </div>
    </div>
    <!-- Input Bar -->
    <div id="input-bar">

        <div>
            <input type="text" id="query" placeholder="Ask AI">
            <button onclick="sendMessage()">&#9654;</button>
        </div>
    </div>
    <script src="/static/socket.js"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>