<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI ChatBOT</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <h1>AI ChatBOT</h1>
            <div class="header-dropdown">
                <span>▼</span>
            </div>
        </div>
    </div>

    <!-- These cards are plaed on center of the screen -->
    <div class="welcome-cards">
        <div class="card">This is a smaple question</div>
        <div class="card">Suggestion here</div>
        <div class="card">UI can be changed</div>
        <div class="card">Any random text</div>
        <div class="card">Any random text</div>
        <div class="card">Any random text</div>
        <div class="card">Any random text</div>
        <div class="card">Any random text</div>
    </div>

    <div class="main-content container">




        <!-- message-container -->
        <div id="message-container" class="">
        </div>
    </div>
    <!-- Input Bar -->
    <div id="input-bar">

        <div>
            <input type="text" id="query" placeholder="Ask AI" autocomplete="off">
            <button onclick="sendMessage()">
                <svg style="transform: scale(0.7);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-arrow-up">
                    <line x1="12" y1="19" x2="12" y2="5"></line>
                    <polyline points="5 12 12 5 19 12"></polyline>
            </button>
        </div>
    </div>
    <script src="/static/socket.js"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>